/* While not strictly necessary, setting up CSS root variables has proven to be very
useful. */
:root {
    /* color for score link */
    --linkColor: #843ead;
    /* color for answer button background */
    --buttonColor: #5e2777;
    /* color for text on answer buttons */
    --buttonTextColor: #fff;
    /* color for the text commentary that appears after a question is answered */
    --commentaryColor: #7a7a7a;
    /* color for all other text */
    --regularTextColor: #000000;

}

body {
    color: var(--regularTextColor);
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    /* Not actually sure as to the text in the example, so I'm guessing. */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

/* Going to have to tweak this one.  Setup for the navigation box which contains
both the score link and the time remaining. */
nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: var(--regularTextColor);
}

ol{
    list-style-type: none;
    padding: 0;
    background-color: white;
}

/* CSS for the score link */
nav .scoreLink {
    color: var(--linkColor);
    font-size: 2em;
}

/* CSS for the time remaining */
nav .timeDisplay {
    color: var(--regularTextColor);
    font-size: 2em;
}

/* CSS for the question text */
.questionSection h1{
    color: var(--regularTextColor);
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
}

/* Creating display properties for generated buttons */
li button{
    border: 3px;
    border-color: var(--commentaryColor);
    height: 50px;
    cursor: pointer;
    background-color: var(--buttonColor);
    color: var(--buttonTextColor);
    font-size: 1.5em;

}